@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,200;10..48,400;10..48,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

:root{
--black: hsla(0, 0%, 0%, 1);
--oxford-blue: hsla(221, 51%, 16%, 1);
--orange-web: hsla(37, 98%, 53%, 1);
--platinum: rgb(238, 238, 238);
--white: hsla(0, 0%, 100%, 1);
--red: #ff206e;
--eerie-black: #040a0f;
--gradient: linear-gradient(90deg, rgba(252,163,17,1) 30%, rgba(255,32,110,1) 100%);
}
body{
    font-family: 'Bricolage Grotesque', sans-serif;
    background-color: var(--black);
    margin: 0;
    color: var(--white);
    
}

br{
    padding: 1rem;
}

hr{
    margin: 2rem 0rem ;
}

/* @lists */

ul{
    list-style: none;
}

.list-item-inline{
    display:inline;
    padding: 0rem 1rem;
}

.list-items{
    padding-top: 1rem;
}
/* @container */

.container{
    padding-left: 1rem ;
    padding-right: 1rem ;
}

.container-center{
    max-width: 600px;
    margin: auto;
    border-radius: 1rem;
}

/* @links */

.link{
    text-decoration: none;
    padding: 0.5rem 1rem;
    margin-left: 0.5rem;
}
.link--primary{
    background-color: var(--red);
    border-radius: 0.5rem;
    color: var(--white);
}
.link--primary:hover{
    background-color: var(--orange-web);
    box-shadow: 0.2rem 0.2rem 1rem grey;
}
.link--secondary{
    color: var(--white);
    border: 1px solid var(--red);
    
    border-radius: 0.5rem;
}
.link--secondary:hover{
    color: var(--white);
    border: 1px solid var(--orange-web);
    box-shadow: 0.2rem 0.2rem 1rem grey;
    
}

/* @nav bar stuff */

.nav--list{
    margin-top: 1rem;
    text-align: right;
    font-size: larger;
}



.img--brand{
    margin-top: 1rem;
    padding-top: 1rem;
}



nav {
    background: linear-gradient(90deg, rgba(252,163,17,1) 30%, rgba(255,32,110,1) 100%);
    padding: 0.001rem 1rem;
    /* border-radius: 0rem 1rem; */
}
nav .link{
    color: var(--white);
    
}

.active{
    font-weight: 900;
}

/* @header */

.hero{
    display: block;
}

.hero .hero--heading{
    font-weight:800;
    padding-top: 0.5rem;
    text-align: center;

}

span{
    color: var(--red);
}

.hero .hero--img{
    max-width: 600px;
    display: block;
    margin: auto;
}

/* sections */
section{
    padding: 1rem;
}

.off-white{
    background: linear-gradient(90deg, rgba(252,163,17,1) 30%, rgba(255,32,110,1) 100%);
}

section h2{
    text-align: center;
    padding: 1rem;
}
.img--id{
    height:20rem ;
    width:17rem ;
    display: block;
    margin: auto;
    border-radius: 1rem;

}

/* @backdrop */
.backdrop{
    display: block;
    background-image: url('images/backdrop-4.jpeg');
    height: 30rem;
    padding: 0rem 0rem;
    background-size: cover;
    overflow: hidden;
    margin-bottom: 1rem;
    transition-duration: 3000ms;
}
.heading--backdrop{
    
    font-size: 3rem;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    backdrop-filter: brightness(60%) blur(3px);
    display: block;
    padding: 13rem 0rem;
    margin: 0 0; 
}



/* @footer */

footer{
    margin-top: 2rem;
    padding: 2rem;
    background:linear-gradient(90deg, rgba(252,163,17,1) 30%, rgba(255,32,110,1) 100%);;
    text-align: center;
}

footer a{
    text-decoration: none;
    color: var(--white);
    border-radius: 0.5rem;
    padding: 0.5rem;
}

footer a:hover{
    background-color: #ff206e;
}
